@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 10px;
}

h2{
    font-size: 4rem;
    text-align: center;
    margin: 50px 0;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
}

.grid{
    height: 800px;
    border: 3px solid black;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr) ;
}

.grid__item{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__item:nth-of-type(1){
    background-color: dodgerblue;
    grid-column: 1/-1;


}
.grid__item:nth-of-type(2){
    background-color: #1eff9e;
    grid-column: 1/3;
}
.grid__item:nth-of-type(3){
    background-color: #691eff;
    grid-column: 3/5;
}
.grid__item:nth-of-type(4){
    background-color: #ff1e74;
    grid-column: 1/3;
    grid-row: 3/5;
}
.grid__item:nth-of-type(5){
    background-color: #2a2526;
    grid-column: 3/5;
    grid-row: 3/5;
}

/* ------------------------------------ */

.grid__item-2{
    font-size: 3rem;
    color: white;
}

.grid__item-2:nth-of-type(1){
    background-color: blue;
    grid-column: span 4;
}
.grid__item-2:nth-of-type(2){
    background-color: #14142c;
    grid-row: span 3;
}
.grid__item-2:nth-of-type(3){
    background-color: #00ff51;
    grid-column: span 2;
}
.grid__item-2:nth-of-type(4){
    background-color: #ff00f2;
    grid-row: span 3;
}
.grid__item-2:nth-of-type(5){
    background-color: #643444;
    grid-column: span 2;
    grid-row: span 2;
}

/* ------------------- */
.grid-area{
    border:3px solid black;
    height: 800px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "uno uno uno uno"
    "dos dos tres tres"
    "dos dos tres tres"
    "cuatro cuatro cinco cinco"
    ;
}
.grid__item-3{
    font-size: 3rem;
    color: white;
    display: grid;
    place-content: center;
}

.grid__item-3:nth-of-type(1){
    background-color: blue;
    grid-area: uno;

}
.grid__item-3:nth-of-type(2){
    background-color: #14142c;
    grid-area: dos;

}
.grid__item-3:nth-of-type(3){
    background-color: #00ff51;
    grid-area: tres;

}
.grid__item-3:nth-of-type(4){
    background-color: #ff00f2;
    grid-area: cuatro;

}
.grid__item-3:nth-of-type(5){
    background-color: #643444;
    grid-area: cinco;

}
@media screen and (max-width:600px) {
    .grid-area{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,1fr);
        grid-template-areas: 
        "uno uno uno"
        "dos dos tres"
        "cuatro cuatro cuatro"
        "cinco cinco cinco"
        ;
    }
}