@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid__container{

    gap: 10px;
    height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "img1 img1 img4 img4"
    "img1 img1 img2 img5"
    "img3 img3 img3 img5"
    ;
}

.grid__item{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.grid__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__item:nth-of-type(1){
    background-color: dodgerblue;

    grid-area: img1;
}

.grid__item:nth-of-type(2){
    background-color: #e51eff;
    grid-area: img2;
}


.grid__item:nth-of-type(3){
    background-color: #8bff1e;
    grid-area: img3;
}


.grid__item:nth-of-type(4){
    background-color: #621eff;
    grid-area: img4;
}


.grid__item:nth-of-type(5){
    background-color: #1eff65;
    grid-area: img5;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(#ff00004d,#0000ff58);
    transform: translateY(-100%);
    transition: .4s;
}

.fondo a{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 3rem;
    color: white;
}

.grid__item:hover .fondo{
    transform: translateY(0);
}

@media screen and (max-width:700px) {
    .grid__container{

        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,250px);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        ;
    }
}