/* Complementos de selectores > , + , ~ */
/* 
    - ">" Selecciona a los hijos directos de un elemento.
    - "+" Selecciona al primer hermano de un elemento.
    - "~" Selecciona a todos los hermano de un elemento.

*/
h2{
    text-align: center;
}
div > a{
    color: dodgerblue;
    font-size: 50px;
    text-decoration: none;
}

div ~ p{
    color: crimson;
    font-size: 30px;
    text-align: center;
}

.box{
    width: 400px;
    height: 400px;
}

.box1{
    background-color: dodgerblue;
    margin:50px;
    margin-bottom: 50px;
    padding: 30px 50px;
    border: 15px solid red;
    border-radius: 100% ;

}

.box2{
    background-color:crimson ;
    margin: 100px;
    padding: 50px;

}

header{
    width: 100%;
    height: 400px;
    background-color: dodgerblue;
    padding: .1px;
}
/* Para solucionar el colapso de margenes solo agregamos un padding al elemento padre */
.colapso{
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 100px;
}


.fondos{
    width: 100%;
    height: 500px;
    max-width: 1200px;
    margin: auto;
}
.imagen-fondo{

    background-image:url("img/imagen-fondo.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.degradado{
    margin-top: 50px;
    background-image: linear-gradient(45deg,#9900ff,blue,violet,green);
}

.fondo-combinado{
    margin-top: 50px;
    background-image:linear-gradient(#2aa08c85,#d4216683),url("img/imagen-fondo.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}