@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* Estilos Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


a{
    text-decoration: none;
}


/* Contenido */
h1{
    text-align: center;
    margin-top: 20px;
    color: crimson;
    letter-spacing: 5px;
    border-bottom: 2px solid crimson;
/*     word-spacing: 20px; */
}

.span{
    color: #0d00ff;
}

/* Cards */

.card{
    width: 500px;
    margin: 20px auto;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px #a8a5a5;
    border-radius: 5px;
   /*  overflow:scroll; */
}

.card__subtitle{
    font-size: 35px;
    border-bottom: 3px solid white;
    margin-bottom: 15px;
}

.card__text{
    font-weight: 300;
    text-shadow: 0 0 3px black;
}

.bold{
    font-weight: 700;
    text-shadow: 0px 0px 5px white;
}

.card__link{
    display: block;
    border:2px solid white;
    width: max-content;
    padding: 5px 20px;
    margin-top: 20px;
    color: white;
    transition: .2s;
}
.card1{
    background-image: linear-gradient(#ff33004d,#5c1b1b51),url(img/bg-1.jpg);
    background-size: cover;
    background-position: bottom;
   
}

.card__link--hover1:hover{
    background-color: orangered;

}

.card2{
    background-image: linear-gradient(#1f40e492,#15d8db51),url(img/bg-2.jpg);
    background-size: cover;
}

.card__link--hover2:hover{
    background-color: #1eceff;

}

