@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}


.container{
    background-color: crimson;
    animation: cubo 5s infinite;
}

img{
    display: block;
    margin: 0 auto;
    animation:spidy 2s ;
    animation-iteration-count: infinite;
}

@keyframes spidy{
    0%{
        transform: translateY(-200px);
        filter: grayscale(1);
    }
    50%{
        transform: rotate(5deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform:translateY(-200px);
        
    }
}

@keyframes cubo{
    0%{
        background-color: rgb(79, 30, 255);
    }
    50%{
        background-color: rgb(28, 9, 245);
    }
    100%{
        background-color: rgb(109, 10, 223);
    }
}
