@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* font-family: 'Poppins', sans-serif */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.encabezado{
    background-color: dodgerblue;
    color: white;
    padding: 20px 50px;

    text-align: center;
}

h1{
    margin:30px ;
}

.link{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 5px 20px;
}

.subtitle{
    margin: 30px 0;
    text-align: center;
    color: dodgerblue;
    font-size: 30px;
    letter-spacing: 5px;
}

.articulo{
    background-color: #eee;
    margin: 20px;
    padding: 15px;
}

.articulo a{
    display: block;
    text-decoration: none;
    background-color: #1527f0;
    color: white;
    padding: 5px;
    margin-top: 10px;
    width: max-content;
    
}

footer{
    background-color: #1f1e1e;
    color: white;
    padding: 40px 0;
    text-align: center;
}