@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.subtitle{
    text-align: center;
    font-size: 35px;
    color: deeppink;
    margin: 20px 0;
}

.hero{
    height: 100vh;
    background-image: url("img/hero__img.jpg");
    background-size: cover;
    background-position: left;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav__container{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav__link{
    color: white;
    transition: .2s;

}

.nav__link:hover{
    color: deeppink;
}

.hero__main{
    color: white;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title{
    font-size: 45px;
    margin-bottom: 15px;
}

.hero__text{
    font-weight: 300;
    font-size: 20px;
}

.hero__link{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border:3px solid white;
    padding: 15px 30px;
    display: block;
    width: max-content;
    margin-top: 20px;
    transition: .2s;
}

.hero__link:hover{
    background-color: white;
    color: deeppink;
}

/* -----Cards----- */


.cards{
    display: flex;
    gap: 15px;
    padding: 30px 0;
}

.card{
    padding: 15px;
    text-align: center;
    border:5px dashed #eee;
}

.card__title{
    font-size: 25px;
    color: deeppink;
    margin-bottom: 15px;
}

.card__text{
    color: #2f2d2d;
}

.card__link{
    color: deeppink;
    display: block;
    width: max-content;
    margin: 10px auto;
}


/* -----About----- */

.about__card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about__card--reverse{
    flex-direction: row-reverse;
}

.about__text{
    width: 50%;
}

.about__figure{
    width: 50%;
    max-width: 500px;
}

.about__title{
    color: deeppink;
    font-size: 25px;
    margin-bottom: 20px;
}

/* -----Galeria------ */

.galery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    cursor:pointer;
}

.galery__figure{
    width: 250px;
    height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px #3434369b;

}

.galery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: linear-gradient(#d119a392,#0000ff82);
    transform: translateY(-100%);
    transition:.4s
}

.fondo__link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.galery__figure:hover .fondo{
    transform: translateY(0);
}

/* -----Footer----- */

.footer{
    background-color: deeppink;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.footer__title{
    color: white;
    font-size: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    gap: 20px;
}

input{
    outline: none;
    border:none;
    padding: 15px 10px;
}

.social{
    display: flex;
    gap: 20px;
}

.social__btn{
    width: 70px;
    height: 70px;
    border:3px solid white;
    border-radius: 100%;
}

.social__link{  
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__btn:hover{
    background-color: white;
}

.social__link:hover{
    color: deeppink;
}


/* -----Media querys----- */
@media screen and (max-width:750px) {
    .hero__main{
        align-items: center;
        text-align: center;
    }

    .cards{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .about__card{
        flex-direction: column;
    }

    .about__text{
        width: 80%;
        text-align: center;
    }

    .about__figure{
        width: 70%;
    }
}

@media screen and (max-width:550px) {
    .nav__container{
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;
    }
    .galery{
        gap: 30px;
    }
    .galery__figure{
        width: 90%;
        height: 250px;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
    }

    .form{
        width: 80%;
    }
}