@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}


.container{
    width: 100%;
    height: 300px;
    background-color: dodgerblue;
    color: white;
    display: grid;
    place-content: center;
    overflow: hidden;
}
p{
    text-align: center;
    font-size: 3rem;
    animation: move .5s;
    font-weight: bold;
}

img{
    display: block;
    max-width: 300px;
    margin: 50px auto;
    animation: latido 1s infinite;
}

@keyframes move{
    from{
        transform: translateY(-500%) scale(.8);
        color: #8080806b;
    }

    to{
        transform: translateY(0) scale(1);
    }
   
}

@keyframes latido{
    0%{
        transform: scale(1.2);
        filter:drop-shadow(0px 0px 10px red);
    }
    40%{
        transform: scale(1.6)
    }
    100%{
        transform: scale(1.2);
        filter:drop-shadow(0px 0px 10px red);
    }
    
    
}