@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.subtitle{
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    color: dodgerblue;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    background-image: linear-gradient(to top,#1900ff,#00a2ff);
}

.nav__container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 20px 0;
}

.nav__links{
    display: flex;
    gap: 15px;
}

.nav__link{
    color: white;
}

.nav__link:hover{
    text-shadow: 0px 0px 5px white;
}

.logo__menu{
    display: none;
}

.logo{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.header__main{
    display: flex;
    align-items:center ;
}

.header__text{
    width: 50%;
    color: white;
}

.header__title{
    font-size: 45px;
    margin-bottom: 10px;
}

.header__frase{
    font-weight: 300;
    font-size: 20px;
}

.header__link{
    color: white;
    border:3px solid white;
    padding: 10px 25px;
    display: block;
    width: max-content;
    margin-top: 15px;
    font-weight: 700;
    transition: .2s;
}

.header__link:hover{
    background-color: white;
    color: blue;
}

.header__figure{
    width: 50%;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.image__container{
    width: 250px;
    height: 200px;
    position: relative;
    overflow: hidden; 
    box-shadow: 0px 0px 10px #535151;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    cursor: pointer;

}

.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#3700ffa7,#5e9fff9b);
    bottom: 0;
    transform: translateY(-100%);
    transition: .4s;

}

.image__container:hover .fondo{
    transform: translateY(0);
}

.fondo__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;

}

.footer{
    padding: 30px 0;
    background-color: blue;
    color: white;
    text-align: center;
}

@media screen and (max-width:900px){
    .header__title{
        font-size: 30px;
    }

    .header__frase{
        font-size: 18px;
    }

    .header__link{
        padding: 5px 10px;
    }
}


@media screen and (max-width:670px) {
    .header__main{
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .header__text{
        width: 90%;
        text-align: center;
    }

    .header__link{
        margin: 15px auto;
    }

    .header__figure{
        width: 80%;
    }

    .nav__links{
        display: none;
    }

    .logo__menu{
        display: block;
        cursor: pointer;
    }

    .image__container{
        width: 90%;
    }
}

