@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
}

.card{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(8,1fr);
}

.card__content{
    grid-column:3/-1;
    grid-row:2/-2 ;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 10px #181818c1;
}

.card h2{
    font-size: 3rem;
    margin-bottom: 10px;
}

.card p{
    font-size: 1.6rem;
}

.card a{
    font-size: 1.4rem;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    display: block;
    width: max-content;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.card a:hover{
    background-color: white;
    color: dodgerblue;
}

.card::before{
    content:"";
    display: block;
    grid-column: 1/4;
    grid-row: 1/-1;
   z-index: -1;
   background-image:linear-gradient(#ff000064,#0000ff5f), url("fondo_grid.jpg") ;
   background-size: cover;
   background-position: center;
   box-shadow: 0px 0px 10px #181818c1;
}

@media screen and (max-width:700px) {
    .card{
        grid-template-columns:1fr;
        grid-template-rows: repeat(2,1fr);
    }

    .card__content{
        text-align: center;
        grid-column: 1/-1;
        grid-row: 2/-1;
    }

    .card__content a{
        margin: auto;
        margin-top: 10px;
    }

    .card::after{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}