@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 10px;
}

.card{
    width: 90%;
    padding: 3rem;
    max-width: 800px;
    margin: 50px auto;
    background-color: #1329d1;
    color: white;

}

.card h2{
    font-size: 3.5rem;
    margin-bottom:2.5rem;
}

.card p{
    font-size: 2rem;
}

.card a{
    text-decoration: none;
    color: white;
    border:2px solid white;
    padding: 1rem 2rem;
    display: block;
    width: max-content;
    margin-top: 20px;
}

@media screen and (max-width:425px) {
/*     .card h2{
        font-size: 30px;
    }

    .card p{
        font-size: 16px;
    } */

    html{
        font-size: 7px;
    }
}