@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.main__img{
    width: 350px;
    object-fit: cover;
    box-shadow: 0 0 10px #00000046 ;
}

.active{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000009d;
    display: grid;
    place-content: center;
    transform: translateX(100%);
    transition: .5s;
}

.active__container{
    position: relative;
}

.active__img{
    width: 100%;
    height: 80vh;
    margin: auto;
}

.close{
    font-size: 2rem;
    color: white;
    background-color: dodgerblue;
    width:40px;
    height: 40px;
    display: grid;
    place-content: center;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
}

.active:target{
    transform: translateX(0);
}