@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}


.container{
    background-color: crimson;
}

img{
    display: block;
    margin: 0 auto;
    transform: translateY(-220px);
    transition-property: transform, filter;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition: all .3s;
  
}

.container:hover img{
    transform: translateY(0);
    filter: drop-shadow(15px 15px 10px black);
}